<h1>Alte Stanzerei</h1>
<p>Die von der Bauweise industrieller Fertigung inspirierte Alte Stanzerei am Rande der Stadt Spaichingen ist ein Ort der Zusammenkunft und der Konzentration. Der gesamte Gebäudekomplex überzeugt durch seine schlichte und funktionale Architektur.</p>
<p>Nach der Devise "weniger ist mehr" sind alle Ferienwohnungen in nüchternem, aber anspruchvollem Design gehalten. Unseren Gästen bieten wir somit den optimalen Rahmen für einen schönen Aufenthalt in der Alten Stanzerei.</p>
<%= link_to "Alle Wohnungen", flats_path, class:"btn1" %>
<br>
<div class="my-4">
  <%= image_tag asset_path('aussen.jpeg'), style:"width: 90vw;" %>
</div>
